*{
    margin: 0%;
    padding: 0;
}
.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.grid-container div{
    display: grid;
    background-color: white;
    border: 2px solid black;
}

.franja:first-child{
    background-color: green;
    height: 100vh;
}
.franja:last-child{
    background-color: red;
    height: 100vh;
}
.franja:nth-child(2){
    align-items: center;
    justify-content: center;
    height: 100vh;
}
#img{
    width: 200px;
    height: 200px;
}